{% extends 'base.html' %}

{% block title %}
    @{{ user.username }}
{% endblock title %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ user.gravatar }}" />

        <h3>@{{ user.username }}</h3>
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p>{{ user.bio }}</p>

        {% if is_viewing_self %}
            <a href="{% url "edit_profile" %}">Edit</a>
        {% endif %}
    </div>

    <div class="col-md-9">
<br>THANK YOU SO MUCH FOR YOUR PLEDGE TO DONATE!!!<br>
<br>Please contact me at this address for more information on how to make your donation:<br>  {{ user.email }}



    </div>
</div>
{% endblock %}

