{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}
    Donate
{% endblock title %}


{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Donate Books</h1>
  <p class="lead">One person's used books are another person's treasure.</p>
</div>

<br>

<h3>Donate a Book - Change the Story</h3>
{% for donation_request in donation_requests %}
    <hr />
    {% if donation_request.cover_url %}
  <img src="{{ donation_request.cover_url }}" alt="Book icon" />
  {% else %}
  <img src="https://image.flaticon.com/icons/png/256/171/171322.png" alt="Book icon" />
  {% endif %}
    <h4>{{ donation_request.title }}</h4>
    <p><strong>Quantity:</strong> {{ donation_request.quantity }}</p>
    <p><strong>Info:</strong> {{ donation_request.description }}</p>
    <p>(id #: {{ donation_request.id }})</p>

<!-- This shows the creation date of the list, along with the avatar
and username of the creator -->
<div>
Submitted on {{ donation_request.created|date:"F jS Y" }} by
<a class="btn btn-link" href="/account/users/{{ donation_request.creator_user.username }}" >
    {{ donation_request.creator_user }}
    <img src="{{ donation_request.creator_user.gravatar }}" class="navbar-avatar" />
</a>
</div>

{% endfor %}
{% endblock content %}
